<% flash.each do |type, message| %>
  <p class="red_glow"><%= message %></p>
  <% if message.class == Array %>
    <% message.each do |message| %>
      <p class="red_glow"><%= message %></p>
    <% end %>
  <% end %>
<% end %>
